* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    background-color:blanchedalmond;
}

#banner {
    width: 100%;
    height: 70vh;
    margin-top: 0;
}

.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    
    
}

.test {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
/* This is the testimonial oin the fisrt page */
.testimonial {
    text-align: justify;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

/* below is the quotation marks. This is the testimonial oin the fisrt page */
.quote {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    margin-top: 5.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
}

.group-image {
    width: 50%;
    
}

/* this is the container for the image on the home screen, and the one above is the image*/
.cont-1 {
    text-align: center;
    margin-top: 5%;
}

.home-pg-links {
    text-decoration: none;
}

/* This is for the Home link on each of the pages*/

.home {
    border: 1px solid black;
    margin-right: 20px;
    margin-top: 5rem;
    border-radius: 20px;
    padding: 1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    color: #FFDE59;
    background-color: #38B6FF;
    -webkit-text-stroke: 0.8px white;
    letter-spacing: 3px;
    width: 20%;
    text-align: center;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.home-button-container {

    text-align: center;
    margin: 10px auto;
}
/* This is the container for the grid on page 2 (full stack) */
.grid-cont {
    display: grid;
    grid-template-columns: 2% 1fr 1fr 2%;
    grid-template-rows: auto;
    font-size: 2rem;
    position: relative;
    grid-column-gap: 2%;
}

.grid-cont div:nth-of-type(1) {
    grid-column: 1 / 2;
  }
  
  .grid-cont div:nth-of-type(2) {
    grid-column: 2 / 3;
  }
  
  .grid-cont div:nth-of-type(3) {
    grid-column: 3 / 4;
  }
  
  .grid-cont div:nth-of-type(4) {
    grid-column: 2 / 3;
  }
  
  .grid-cont div:nth-of-type(5) {
    grid-column: 3 / 4;
  }
  
  .grid-cont div:nth-of-type(6) {
    grid-column: 3 / 4;
  }
  
  .grid-cont div:nth-of-type(7) {
    grid-column: 4 / -1;
  }

  /* This is to pull up the paragraph up, the one starting with "Full Stack Develeopers */

  .description {
    position: relative;
    top: 10%;
    border: 1px black solid;
    border-radius: 50px;
    padding: 2%;
    background-color: #38B6FF;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: -7%;
}
/* this is for the box containing the salary */
  .sal {
    border: 1px black solid;
    font-size: 3rem;
    font-family: cursive;
    height: fit-content;
    width: fit-content;
    border-radius: 20px;
    background-color: #C1FF72;
    position: relative;
    top: 20%;
    text-align: center;
    padding: 0.5%;
    

  } 
  .requirements {
    border: 1px black solid;
    border-radius: 50px;
    padding: 2%;
    height: fit-content;
    margin-top: 20%;
    background-color: #FFDE59;
    position: relative;
    top: -90%;
    margin-left: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

  /* image for full stack tech on page 2 */
  .FSD {
    width: 100%;
    position: relative;
    top: -10%;
    border-radius: 50px;
    padding: 3%;
  }

  .top-image {
    width: 40vw;
    margin-top: 10%;
    border-radius: 8%;
    
}
/* this is for the testimonials on all pages except home */
.student-test {
    text-align: justify;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* this is the testimonial title on each of the pages except home */
.test-title {
    font-size: 3rem;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.bottom-test {
    border: 1px black solid;
    margin: 5%;
    border-radius: 50px;
    padding-top: -20%;
    background-color: #C1FF72 ;
}
/* This is to pull the bottom section up */
.up-pull {
    margin-top: -40%;
}
/* for the image on front end that is to the right of the page */
.requirements-2 {
    border: 1px black solid;
    border-radius: 50px;
    padding: 2%;
    height: fit-content;
    margin-top: 20%;
    background-color: #FFDE59;
    position: relative;
    top: -120%;
    margin-left: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* for the image on back end that is to the right of the page */
.requirements-3 {
    border: 1px black solid;
    border-radius: 50px;
    padding: 2%;
    height: fit-content;
    margin-top: 20%;
    background-color: #FFDE59;
    position: relative;
    top: -220%;
    margin-left: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* this is to position the testimonial on back end */
.side-pull {
    margin-top: -20%;
    grid-column: 3 / 4;
    position: relative;
    top: -150%;
}
/* for the image on the right of the games dev page */
.FSD1 {
    width: 100%;
    position: relative;
    top: -105%;
    border-radius: 50px;
    padding: 3%;
    grid-column: 3 / 4;
}
/* this is for the game dev page */
.requirements-4 {
    border: 1px black solid;
    border-radius: 50px;
    padding: 2%;
    height: fit-content;
    background-color: #FFDE59;
    position: relative;
    top: -6%;
    margin-left: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* for the description on game dev page */
.description-2 {
    position: relative;
    top: 3%;
    border: 1px black solid;
    border-radius: 50px;
    padding: 2%;
    background-color: #38B6FF;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: -7%;
}
/* this is for the testimonial on the game dev page */
.up-pull-2 {
    position: relative;
    top: -102%;

}

/* this is for the third image on game dev (the bottom one) this is the div! */

.image3 {
    width: 100%;
    position: relative;
    top: -100%;
    grid-column: 3 / 4;
    text-align: center;
    
}
 /* this is the actual image inside the div */
 .image4 {
    border-radius: 50px;
    padding: 3%;
    width: 100%;

 }

 /* all of the animations */

.animate {
    animation: lift .4s infinite;
 }

 @keyframes lift {
    0% {
        transform: translatey(0%);
    }
    25% {
        transform: translatey(10%);
    }
    50% {
        transform: translatey(0%);

    }
    75% {
        transform: translatey(10%);
    }
 }

 /* this is for the links on the first page */
.pg1 {
    border: 1px solid black;
    margin-right: 40px;
    margin-top: 5rem;
    border-radius: 20px;
    padding: 1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    color: #FFDE59;
    background-color: #38B6FF;
    -webkit-text-stroke: 0.8px white;
    white-space: nowrap;
    letter-spacing: 2px;
    transition: transform 0.2s ease-in-out;
  
}
.pg1:hover {
    transform: translateY(-10px);
}
.home:hover {
    transform: translateY(-10px);

}
.footer {
    font-size: 2rem;
    text-align: center;
}

.pg2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    color: #FFDE59;
    background-color: #38B6FF;
    -webkit-text-stroke: 0.8px white;
    white-space: nowrap;
    width: fit-content;
    letter-spacing: 2px;
    
  
}



 

  
  
  